section {
  width: 600px;
  margin: auto;
  height: 85%;
  margin-top: 1rem;
  background: rgba(255,255,255,0.9);
  border-radius: 5px;
  overflow: auto;
}

.new-tweet-container {
  padding: 1rem;
}

textarea {
  margin-top: .5rem;
  resize: none;
}
