<form class="login-form">
  <label for="login-mail">E-Mail</label>
  <input id="login-mail" type="email" placeholder="E-Mail">
  <label for="login-password">Passwort</label>
  <input id="login-password" type="password" placeholder="Passwort">
  <div>
    <input id="dsgvo-checkbox" type="checkbox" style="height: 1.5rem; width: 1.5rem">
    <label for="dsgvo-checkbox" style="color: cornflowerblue;">Ich habe die nicht vorhandene DSGVO gelesen und verkaufe meine
      Selee.</label>
  </div>
  <app-button>Login</app-button>
</form>
